<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright 2023 Open Text.
  ~
  ~ The only warranties for products and services of Open Text and its affiliates and licensors ("Open Text")
  ~ are as may be set forth in the express warranty statements accompanying such products and services.
  ~ Nothing herein should be construed as constituting an additional warranty. Open Text shall not be liable
  ~ for technical or editorial errors or omissions contained herein. The information contained herein is subject
  ~ to change without notice.
  ~
  ~ Except as specifically indicated otherwise, this document contains confidential information and a valid
  ~ license is required for possession, use or copying. If this work is provided to the U.S. Government,
  ~ consistent with FAR 12.211 and 12.212, Commercial Computer Software, Computer Software
  ~ Documentation, and Technical Data for Commercial Items are licensed to the U.S. Government under
  ~ vendor's standard commercial license.
  -->

<configuration scan="true" scanPeriod="30 seconds">

    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } [%t] --- %-40.40logger{39} : %m%n"/>
    {{- if (eq (.Values.global.di.logging.useFile | toString) "false") }}
    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="ConsoleAppender"/>
    </root>
    {{- else }}
    <appender name="LogFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <Append>true</Append>
        <File>${DATAACCESS_HOME}/log/di/data-access/__${POD_NAME}/dataaccess.log</File>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>5</maxIndex>
            <FileNamePattern>		
				${DATAACCESS_HOME}/log/di/data-access/__${POD_NAME}/archive/dataaccess.%i.log
			</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="AuditLogFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>${DATAACCESS_AUDIT_LOGS_PATH}/dataaccess-audit.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
            <fileNamePattern>${DATAACCESS_AUDIT_LOGS_PATH}/archive/dataaccess-audit.%i.log</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="com.swgrp.itomdi.dataaccess.interceptors.LoggerInterceptor" level="INFO" additivity="false">
        <appender-ref ref="AuditLogFileAppender"/>
    </logger>
    <logger name="com.swgrp.itomdi.dataaccess.interceptors.ThrottleInterceptor" level="INFO" additivity="false">
        <appender-ref ref="AuditLogFileAppender"/>
        <appender-ref ref="LogFileAppender"/>
    </logger>
    <logger name="com.swgrp.itomdi.dataaccess.security" level="INFO" additivity="false">
        <appender-ref ref="AuditLogFileAppender"/>
        <appender-ref ref="LogFileAppender"/>
    </logger>
    <logger name="org.apache.tomcat.util.net.SecureNioChannel" level="DEBUG" additivity="false">
        <appender-ref ref="AuditLogFileAppender"/>
    </logger>
    <logger name="org.apache.tomcat.util" level="OFF"/>
    <logger name="org.apache.tomcat.websocket" level="OFF"/>

    <logger name="com.swgrp.itomdi.dataaccess.service.eventListeners" level="INFO" additivity="false">
        <appender-ref ref="AuditLogFileAppender"/>
    </logger>
    <logger name="com.swgrp.itomdi.dataaccess.service.ApplicationShutdownHandler" level="INFO" additivity="false">
        <appender-ref ref="AuditLogFileAppender"/>
    </logger>
    <logger name="com.swgrp.itomdi.dataaccess.events.ValidationExceptionEventListener" level="INFO" additivity="false">
        <appender-ref ref="AuditLogFileAppender"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="LogFileAppender"/>
    </root>
    {{- end }}

</configuration>