<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright 2023 Open Text.
  ~
  ~ The only warranties for products and services of Open Text and its affiliates and licensors (“Open Text”)
  ~ are as may be set forth in the express warranty statements accompanying such products and services.
  ~ Nothing herein should be construed as constituting an additional warranty. Open Text shall not be liable
  ~ for technical or editorial errors or omissions contained herein. The information contained herein is subject
  ~ to change without notice.
  ~
  ~ Except as specifically indicated otherwise, this document contains confidential information and a valid
  ~ license is required for possession, use or copying. If this work is provided to the U.S. Government,
  ~ consistent with FAR 12.211 and 12.212, Commercial Computer Software, Computer Software
  ~ Documentation, and Technical Data for Commercial Items are licensed to the U.S. Government under
  ~ vendor’s standard commercial license.
  -->

<configuration scan="true" scanPeriod="30 seconds">

  <appender name="LogFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${RECEIVER_HOME}/log/di/receiver/__${POD_NAME}/receiver-out.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${RECEIVER_HOME}/log/di/receiver/__${POD_NAME}/archive/di.receiver-out.%i.log</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>10</maxIndex>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>10MB</maxFileSize>
    </triggeringPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{60} %X{sourceThread} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.err</target>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{60} %X{sourceThread} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{60} %X{sourceThread} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${RECEIVER_HOME}/log/di/receiver/__${POD_NAME}/receiver-${HOSTNAME}.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${RECEIVER_HOME}/log/di/receiver/__${POD_NAME}/archive/di.receiver.%i.log</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>10</maxIndex>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>10MB</maxFileSize>
    </triggeringPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{60} %X{sourceThread} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.itom.di" level="INFO" additivity="false">
    {{- if and (eq .Values.direceiver.config.receiver.logConfigFromConfigmap true) (eq (.Values.global.di.logging.useFile | toString) "false") }}
    <appender-ref ref="STDERR" />
    <appender-ref ref="STDOUT" />
    {{- else }}
    <appender-ref ref="FILE" />
    {{- end }}
  </logger>

  <!-- Strictly speaking, the level attribute is not necessary since -->
  <!-- the level of the root level is set to DEBUG by default.       -->
  <root level="INFO">
    {{- if and (eq .Values.direceiver.config.receiver.logConfigFromConfigmap true) (eq (.Values.global.di.logging.useFile | toString) "false") }}
    <appender-ref ref="STDERR" />
    <appender-ref ref="STDOUT" />
    {{- else }}
    <appender-ref ref="LogFileAppender" />
    {{- end }}
  </root>

</configuration>